In [ ]:
from google.colab import files
uploaded = files.upload()

Saving links.csv to links (1).csv
Saving movies.csv to movies (1).csv
Saving ratings.csv to ratings (1).csv

In [ ]:
movies=pd.read_csv("movies (1).csv",error_bad_lines=False, encoding='latin-1')
movies

       movieId  ...                                       genres
0            1  ...  Adventure|Animation|Children|Comedy|Fantasy
1            2  ...                   Adventure|Children|Fantasy
2            3  ...                               Comedy|Romance
3            4  ...                         Comedy|Drama|Romance
4            5  ...                                       Comedy
...        ...  ...                                          ...
27273   131254  ...                                       Comedy
27274   131256  ...                                       Comedy
27275   131258  ...                                    Adventure
27276   131260  ...                           (no genres listed)
27277   131262  ...                     Adventure|Fantasy|Horror

[27278 rows x 3 columns]

In [ ]:
ratings=pd.read_csv("ratings (1).csv",error_bad_lines=False, encoding='latin-1')
ratings

         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
...         ...      ...     ...         ...
1048570    7120      168     5.0  1175543061
1048571    7120      253     4.0  1175542225
1048572    7120      260     5.0  1175542035
1048573    7120      261     4.0  1175543376
1048574    7120      266     3.5  1175542454

[1048575 rows x 4 columns]

In [ ]:
links=pd.read_csv("links (1).csv",error_bad_lines=False, encoding='latin-1')
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
27273   131254   466713    4436.0
27274   131256   277703    9274.0
27275   131258  3485166  285213.0
27276   131260   249110   32099.0
27277   131262  1724965  286971.0

[27278 rows x 3 columns]

In [ ]:
ratings.drop('timestamp',axis=1,inplace=True)
ratings

         userId  movieId  rating
0             1        2     3.5
1             1       29     3.5
2             1       32     3.5
3             1       47     3.5
4             1       50     3.5
...         ...      ...     ...
1048570    7120      168     5.0
1048571    7120      253     4.0
1048572    7120      260     5.0
1048573    7120      261     4.0
1048574    7120      266     3.5

[1048575 rows x 3 columns]

In [ ]:
a = ratings['userId'].value_counts()

In [ ]:
b = ratings['userId'].value_counts()>100

In [ ]:
new_rating=list(a[b].index)

In [ ]:
len(new_rating)

2723

In [ ]:
ratings=ratings[ratings['userId'].isin(new_rating)]
ratings.shape

(844371, 3)

In [ ]:
movie_ratings= ratings.merge(movies,on='movieId')
movie_ratings.head()

   userId  movieId  rating           title                      genres
0       1        2     3.5  Jumanji (1995)  Adventure|Children|Fantasy
1      29        2     3.0  Jumanji (1995)  Adventure|Children|Fantasy
2      54        2     3.0  Jumanji (1995)  Adventure|Children|Fantasy
3      88        2     1.0  Jumanji (1995)  Adventure|Children|Fantasy
4      91        2     3.5  Jumanji (1995)  Adventure|Children|Fantasy

In [ ]:
movie_rate_link= pd.merge(links,movie_ratings,on='movieId')
movie_rate_link.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        1  ...  Adventure|Animation|Children|Comedy|Fantasy
2        1  ...  Adventure|Animation|Children|Comedy|Fantasy
3        1  ...  Adventure|Animation|Children|Comedy|Fantasy
4        1  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 7 columns]

In [ ]:
movie_rate_link

        movieId  ...                                       genres
0             1  ...  Adventure|Animation|Children|Comedy|Fantasy
1             1  ...  Adventure|Animation|Children|Comedy|Fantasy
2             1  ...  Adventure|Animation|Children|Comedy|Fantasy
3             1  ...  Adventure|Animation|Children|Comedy|Fantasy
4             1  ...  Adventure|Animation|Children|Comedy|Fantasy
...         ...  ...                                          ...
844366   130219  ...                  Action|Crime|Drama|Thriller
844367   130462  ...                           (no genres listed)
844368   130490  ...                        Action|Romance|Sci-Fi
844369   130490  ...                        Action|Romance|Sci-Fi
844370   130642  ...                        Drama|Horror|Thriller

[844371 rows x 7 columns]

In [ ]:
movie_rate_link= movie_rate_link.drop_duplicates(subset=['userId','title'])
movie_rate_link.shape

(844357, 7)

In [ ]:
imdb = movie_rate_link.groupby('imdbId')['rating'].count().reset_index()
imdb

        imdbId  rating
0          417       9
1          439       2
2         1062       1
3         1223       1
4         1527       1
...        ...     ...
13818  3823690       1
13819  3872778       1
13820  3878542       1
13821  4044364       5
13822  4368814       2

[13823 rows x 2 columns]

In [ ]:
final = movie_rate_link[movie_rate_link['rating'].isin(imdb.index)]
final.shape

(616107, 7)

In [ ]:
pivot=final.pivot_table(columns='imdbId',index='title',values='rating')
pivot.fillna(0,inplace=True)
pivot

imdbId                                       417      439      ...  4044364  4368814
title                                                          ...
"Great Performances" Cats (1998)                 0.0      0.0  ...      0.0      0.0
'71 (2014)                                       0.0      0.0  ...      0.0      0.0
'Hellboy': The Seeds of Creation (2004)          0.0      0.0  ...      0.0      0.0
'Round Midnight (1986)                           0.0      0.0  ...      0.0      0.0
'Salem's Lot (2004)                              0.0      0.0  ...      0.0      0.0
...                                              ...      ...  ...      ...      ...
xXx (2002)                                       0.0      0.0  ...      0.0      0.0
xXx: State of the Union (2005)                   0.0      0.0  ...      0.0      0.0
Â¡Three Amigos! (1986)                           0.0      0.0  ...      0.0      0.0
Ã nos amours (1983)                             0.0      0.0  ...      0.0      0.0
Ã nous la libertÃ© (Freedom for Us) (1931)      0.0      0.0  ...      0.0      0.0

[12319 rows x 12324 columns]

In [ ]:
from scipy.sparse import csr_matrix
movie_matrix=csr_matrix(pivot)

In [ ]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [ ]:
model.fit(movie_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
pivot.index[200]

'Aamir (2008)'

In [ ]:
pivot.iloc[200,:].values.reshape(1,-1)

array([[0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
distance,suggestion=model.kneighbors(pivot.iloc[1,:].values.reshape(1,-1),n_neighbors=5)
suggestion

array([[    1, 10076,   208,  2091,  4833]])

In [ ]:
pivot.index[50]

'13 Going on 30 (2004)'

In [ ]:
def recommend(moviename):
    m_id=np.where(pivot.index==moviename)[0][0]
    distance,suggestion=model.kneighbors(pivot.iloc[m_id+1,:].values.reshape(1,-1),n_neighbors=5)
    for i in suggestion[0]:
        print(pivot.index[i])

In [ ]:
recommend('13 Going on 30 (2004)')

13 Rue Madeleine (1947)
Abduction (2011)
Soldier of Orange (a.k.a. Survival Run) (Soldaat van Oranje) (1977)
Bloodtide (1982)
Phat Girlz (2006)

In [ ]:
recommend('Jumanji (1995)')

Jump Tomorrow (2001)
Charm's Incidents (Charms ZwischenfÃ¤lle) (1996)
Phat Girlz (2006)
Bloodtide (1982)
Planet of the Vampires (Terrore nello spazio) (1965)

In [71]:
recommend('Four Rooms (1995)')

Four Seasons, The (1981)
Bloodtide (1982)
Hatchet II (2010)
Planet of the Vampires (Terrore nello spazio) (1965)
Charm's Incidents (Charms ZwischenfÃ¤lle) (1996)